{% extends 'home01/index.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
  $(function() {
    $("#search_input").autocomplete({
      source: "search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }
</script>






  <div id="content" >
    <div class="content_center" align="left">




        <div class="row">
        <label><h3> Фильтр: (Выбрано :{{ articles|length }} новостей) </h3>
            <form method="post">
                {% csrf_token %}



                      <div class="row">
                        <div class="search">
                            <label for="search_input">Поиск по заголовку: </label>
                            <input id="search_input" name="search_input">
                        </div>
                      </div>




                        <label for="author_filter">По автору:</label>
                            <select class="form-select" name="author_filter" style="width:40%" >
                                <option value="0">Все авторы</option>
                                {% for author in author_list %}
                                <option value="{{ author.id }}" {% if selected_author == author.id %} selected {% endif %}> {{ author.username }}
                                </option>
                                {% endfor %}
                            </select>
                        <label for="category_filter">По категории:</label>
                            <select class="form-select" name="category_filter" style="width:40%">
                                <option value="0">Все категории</option>
                                {% for c in categories %}
                                <option value="{{ forloop.counter }}" {% if selected_category == forloop.counter %} selected {% endif %}> {{ c.1 }}
                                </option>
                                {% endfor %}
                            </select>
                        <label for="category_filter">По содержимому:</label>
                        <br>
                            <input type="submit" class="btn btn-primary" value="Поиск...">
                        <br>
            </form>
        </label>
    </div>

    </div>

   <div class="container-fluid">
       <div class="row">
           {% for articl in articles %}
               <div id="news" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
               <h3>{{ articl.title }}</h3>
                   <div class='featurebox_side'>{{ articl.anouncement }}</div>
                   <p>{{ articl.text|slice:":100" }}...</p>
                   <p class="lead mb-0"><a href="{{ articl.get_absolute_url }}" class="fw-bold">Подробности...</a></p>
                <h4 align="right">{{ articl.date|date:"d.m.Y" }}</h4>
               </div>
           {% endfor %}
      </div>
   </div>
  </div>

{% endblock %}
