<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AllNews</title>
    <link rel="stylesheet" href="{% static 'home01/css/style.css'%}" type="text/css">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div id="page_wrapper">
        <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
             {% include 'home01/header.html' %}
             </div>
        </div>
        </div>


  <div id="content" >
    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
            {% include 'home01/left_sidebar.html' %}
        </div>

        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
                <div class="search box" align="right">
                  <form action="#">
                    <input type="text" name="s" id="s" value="" />
                    <button type="submit">Поиск</button>
                  </form>
                </div>
           <div class="container-fluid">
              <div class="row">
                  <div id="news" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <h3>Женщины-астронавты NASA потеряли в космосе сумку с инструментами</h3>
                    <div class='featurebox_side'> Две женщины-астронавта NASA потеряли сумку с инструментами в
                        открытом космосе во время ремонта на Международной космической станции (МКС). </div>
                    <h4>NASA.</h4>
                    <p>  Как пишут журналисты, 1 ноября астронавты Жасмин Могбели и Лорал О’Хара ремонтировали солнечные батареи МКС,
                 когда сумка выскользнула и улетела в открытый космос. Ее заметили на камерах, после чего в NASA просчитали траекторию полета объекта и решили,
                 что с МКС сумка не столкнется, а значит, ситуация остается контролируемой.
                    </p>
                  </div>

                  <div id="news" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <h3>Женщины-астронавты NASA потеряли в космосе сумку с инструментами</h3>
                    <div class='featurebox_side'> Две женщины-астронавта NASA потеряли сумку с инструментами в
                        открытом космосе во время ремонта на Международной космической станции (МКС). </div>
                    <h4>NASA.</h4>
                    <p>  Как пишут журналисты, 1 ноября астронавты Жасмин Могбели и Лорал О’Хара ремонтировали солнечные батареи МКС,
                 когда сумка выскользнула и улетела в открытый космос. Ее заметили на камерах, после чего в NASA просчитали траекторию полета объекта и решили,
                 что с МКС сумка не столкнется, а значит, ситуация остается контролируемой.
                    </p>
                  </div>

                  <div id="news" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <h3>Женщины-астронавты NASA потеряли в космосе сумку с инструментами</h3>
                    <div class='featurebox_side'> Две женщины-астронавта NASA потеряли сумку с инструментами в
                        открытом космосе во время ремонта на Международной космической станции (МКС). </div>
                    <h4>NASA.</h4>
                    <p>  Как пишут журналисты, 1 ноября астронавты Жасмин Могбели и Лорал О’Хара ремонтировали солнечные батареи МКС,
                 когда сумка выскользнула и улетела в открытый космос. Ее заметили на камерах, после чего в NASA просчитали траекторию полета объекта и решили,
                 что с МКС сумка не столкнется, а значит, ситуация остается контролируемой.
                    </p>
                  </div>


              </div>
              <div class="row">
                  <div id="news" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <h3>Женщины-астронавты NASA потеряли в космосе сумку с инструментами</h3>
                    <div class='featurebox_side'> Две женщины-астронавта NASA потеряли сумку с инструментами в
                        открытом космосе во время ремонта на Международной космической станции (МКС). </div>
                    <h4>NASA.</h4>
                    <p>  Как пишут журналисты, 1 ноября астронавты Жасмин Могбели и Лорал О’Хара ремонтировали солнечные батареи МКС,
                 когда сумка выскользнула и улетела в открытый космос. Ее заметили на камерах, после чего в NASA просчитали траекторию полета объекта и решили,
                 что с МКС сумка не столкнется, а значит, ситуация остается контролируемой.
                    </p>
                  </div>

                  <div id="news" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <h3>Женщины-астронавты NASA потеряли в космосе сумку с инструментами</h3>
                    <div class='featurebox_side'> Две женщины-астронавта NASA потеряли сумку с инструментами в
                        открытом космосе во время ремонта на Международной космической станции (МКС). </div>
                    <h4>NASA.</h4>
                    <p>  Как пишут журналисты, 1 ноября астронавты Жасмин Могбели и Лорал О’Хара ремонтировали солнечные батареи МКС,
                 когда сумка выскользнула и улетела в открытый космос. Ее заметили на камерах, после чего в NASA просчитали траекторию полета объекта и решили,
                 что с МКС сумка не столкнется, а значит, ситуация остается контролируемой.
                    </p>
                  </div>

                  <div id="news" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <h3>Женщины-астронавты NASA потеряли в космосе сумку с инструментами</h3>
                    <div class='featurebox_side'> Две женщины-астронавта NASA потеряли сумку с инструментами в
                        открытом космосе во время ремонта на Международной космической станции (МКС). </div>
                    <h4>NASA.</h4>
                    <p>  Как пишут журналисты, 1 ноября астронавты Жасмин Могбели и Лорал О’Хара ремонтировали солнечные батареи МКС,
                 когда сумка выскользнула и улетела в открытый космос. Ее заметили на камерах, после чего в NASA просчитали траекторию полета объекта и решили,
                 что с МКС сумка не столкнется, а значит, ситуация остается контролируемой.
                    </p>
                  </div>


              </div>
           </div>
        </div>
       </div>
    </div>

  </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% include 'home01/footer.html' %}
            </div>
        </div>
    </div>



</div>
</body>
</html>