{% extends 'home01/index.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}Мои новости{% endblock %}
{% block content %}
 <div id="content" >
<div class="container-fluid">
       <div class="row">
           {% for articl in articles %}
               <div id="news" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
               {% if articl.image_set.all %}
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <img src="{{ articl.image_set.all.0.image.url }}"
                             style="width:50%; height:auto; border-radius:5px;">
                    </div>
               {% endif %}
               <h3>{{ articl.title }}</h3>
                   <div class='featurebox_side'>{{ articl.anouncement }}</div>
                   <p>{{ articl.text|slice:":100" }}...</p>
                   <p class="lead mb-0"><a href="{{ articl.get_absolute_url }}" class="fw-bold">Подробности...</a></p>
                <h4 align="right">{{articl.date|date:"d.m.Y" }}</h4>
           </div>
           {% endfor %}
      </div>
   </div>
  <div class="container-fluid">
     <div class="row">
     {% if articles|length == 0 %}
     <h3> Увы, пока нет статей! Удачи! </h3>
 {% else %}
    <nav aria-label="Page navigation example">
          <ul class="pagination">
              {% if articles.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ articles.previous_page_number }}">Previous</a></li>
              {% endif %}
              {% for p in articles.paginator.page_range %}
                {% if articles.number == p %}
                    <li class="page-item"><p class="page-link" style="color:black;"> {{ p }}</p></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}"> {{ p }}</a></li>
                {% endif %}
              {% endfor %}
              {% if articles.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ articles.next_page_number }}">Next</a></li>
              {% endif %}
          </ul>
        </nav>
 {% endif %}
    </div>
    </div>
  </div>
{% endblock %}