.tm-sidebar {
	background-color: #fff;
	/*position: fixed;*/
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding-left: 40px;
	padding-top: 40px;
	/*width: 280px;*/
}

.tm-section-wrap {
	/*width: calc(100% - 750px);*/
	margin-left: 750px;
	margin-right: 0;
	position: relative;
}

.tm-section { padding: 50px 70px 50px 0; }

#gallery,
#about,
#contact {
	padding-bottom: 150px;
}



/* Hide scrollbar */
.tm-sidebar {
	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}
.tm-sidebar::-webkit-scrollbar {
	/* WebKit */
	width: 0;
	height: 0;
}

.tm-sidebar-sticky {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tm-nav {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.navbar-toggler { display: none; }

.tm-brand-box {

    background: #4E7DD1 url('../img/menu_bg.gif') bottom left repeat-x;
    color: white;
    display: flex;
    align-items: center;
	justify-content: center;
	margin-bottom: 1px;
}

#tm-main-nav {
	padding: 0;
	margin: 0;
}

.nav-item {
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav-link {
	position: relative;
	color: #006699;
	font-size: 1.4rem;
	padding-top: 15px;
	padding-bottom: 15px;
}

.triangle-right {
	position: absolute;
	top: 9px;
	left: -40px;
	width: 0;
	height: 0;
	border-top: 21px solid transparent;
	border-left: 20px solid #006699;
	border-bottom: 21px solid transparent;
	opacity: 0;
	transition: all 0.3s ease;
}

.nav-item:hover .nav-link,
.nav-link.current {
	background-color: #F2F2F2;
	color: #006699;
	padding-left: 30px;
}

.nav-item:hover > .nav-link > .triangle-right,
.nav-link.current > .triangle-right {
	opacity: 1;
}

.nav-icon {
	width: 40px;
	margin-right: 20px;
}

/* Кнопка выпадающего списка */
.dropbtn {
  background: #4E7DD1 url('../img/menu_bg.gif') bottom left repeat-x;
    color: white;
	width: 100%;
    display: block;
    align-items: center;
	justify-content: center;
	margin-bottom: 1px;
}
/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
/*  display: inline-block;*/
  display: block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
/*  min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #4E7DD1;}