<div id="content" >
    <h3>Горячая новость!!!</h3>
    <div class='featurebox_center'> Роспотребнадзор: нас ожидает вторая волна заболеваемости COVID-19
        <a href="https://news.mail.ru/society/58533827/?frommail=1">Первоисточник</a>
    </div>
    <p> Эксперты расценили ситуацию повышения заболеваемости как начало эпидемии.</p>
    <h4>Подробности</h4>
    <p> В России отметили подъем заболеваемости коронавирусом — число заболевших за месяц выросло
        в два раза. Об этом в рамках правительственного часа в Совете Федерации заявила глава
        Роспотребнадзора Анна Попова </p>
    <p> Как утверждает спикер, сегодня в стране наблюдается вторая волна заболеваемости коронавирусной
        инфекцией. За неделю число заболевших превысило 35 тысяч человек.
        «Это в два раза больше, чем месяц назад», — прокомментировала Анна Попова. </p>
    <p> Сообщается, что 30% от общего числа заболевших приходится на три субъекта федерации — Москва,
        Подмосковье и Санкт-Петербург. По прогнозам главы санитарного ведомства заболеваемость из
        мегаполисов будет распространяться далее по регионам.
        «Ситуация расценивается как начало эпидемии, начало подъема», — уточнила спикер.
    </p>
    <p>В России отметили подъем заболеваемости коронавирусом — число заболевших за месяц выросло в два
        раза. Об этом в рамках правительственного часа в Совете Федерации заявила глава Роспотребнадзора
        Анна Попова. Как утверждает спикер, сегодня в стране наблюдается вторая волна заболеваемости коронавирусной инфекцией. За неделю число заболевших превысило 35 тысяч человек.
        «Это в два раза больше, чем месяц назад», — прокомментировала Анна Попова. Сообщается, что 30% от общего числа заболевших приходится на три субъекта федерации — Москва, Подмосковье и Санкт-Петербург. По прогнозам главы санитарного ведомства заболеваемость из мегаполисов будет распространяться далее по регионам.
        «Ситуация расценивается как начало эпидемии, начало подъема», — уточнила спикер.
        Среди штаммов коронавируса превалируют все варианты «омикрона», который характеризуется повышенной передачей. В числе основных симптомов — насморк, першение и боль в горле. Потеря запаха и изменение вкуса встречается реже.
        Роспотребнадзор разослал в регионы рекомендации по подготовке системы здравоохранения к борьбе с COVID-19.
    </p>

    <h3>Дополнительно</h3>
    <p>Ранее Роспотребнадзор просил новосибирцев не стесняться носить медицинские маски.
    </p>
    <h5>Иванов И.И. 22.12.2024</h5>
  </div>