<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}

<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
{% block title %}
<title>TopNews</title>
{% endblock %}

<meta http-equiv="Content-Type" content="text/html;"  charset="utf-8"/>
<link rel="stylesheet" href="{% static 'home01/css/style.css'%}" type="text/css">

{% bootstrap_css %}
{% bootstrap_javascript %}
</head>
<body>
<div id="page_wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
             {% include 'home01/header.html' %}
            </div>
        </div>
    </div>


    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
            {% include 'home01/left_sidebar.html' %}
        </div>

        <div class="col-xs-5 col-sm-5 col-md-7 col-lg-7">
        {% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
        {% endif %}

            {% block content %}
            {% include 'home01/body.html' %}
            {% endblock %}
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            {% include 'home01/right_side.html' %}
        </div>
       </div>
        </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% include 'home01/footer.html' %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
