<!-- Leftside bar -->
            <div id="tm-sidebar" class="tm-sidebar">
                <nav class="tm-nav">
                    <div>
                        <div class="tm-brand-box">
                            <h1 class="tm-brand">Меню</h1>
                        </div>

                        <ul id="tm-main-nav">
                            <li class="nav-item">
                                <a href="/" class="nav-link current">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-home nav-icon"></i>
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/aboutus" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-images nav-icon"></i>
                                    AboutUs
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/contacts" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-address-book nav-icon"></i>
                                    Contacts
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#news" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-pen-to-square nav-icon"></i>
                                    News page
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin" class="nav-link external" target="_parent" rel="sponsored">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-user nav-icon"></i>
                                    Admin
                                </a>
                            </li>
                        </ul>
                    </div>

                    <footer>
                        <div>
                                <ul id="tm-main-nav">
                                    <li class="nav-item">
                                        <a href="/login" class="nav-link">
                                        <div class="triangle-right"></div>
                                        <i class="fas fa-right-to-bracket nav-icon"></i>
                                         Войти в аккаунт
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/cr_account" class="nav-link">
                                        <div class="triangle-right"></div>
                                         <i class="fas fa-registered nav-icon"></i>
                                        Регистрация
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/addnews" class="nav-link">
                                        <div class="triangle-right"></div>
                                         <i class="fas fa-newspaper nav-icon"></i>
                                        Добавить новость
                                        </a>
                                    </li>

                                </ul>
                        </div>
                    </footer>
                </nav>
            </div>
