<div id="right_side">
    <h3>Тут может быть Ваша!!! реклама </h3>

    <div class='featurebox_side'> Coca-Cola – праздник к нам приходит  </div>
    <h4>Топ.</h4>
    <p>  Самое гениальное, что сделала «Кока-кола» этой рекламной кампанией – так это построение ассоциативного пространства бренда. Бренд затронул традиции, обычаи, нравы.
        Как только в воздухе начинает веять атмосфера нового года, в телевизоре появляются красные фуры в лампочках, которые проезжают по заснеженной лесной дороге. В голове на репите крутится: «Праздник к нам приходит, праздник к нам приходит». Прямо хочется допеть до конца.
        Подстроиться под один из самых главных праздников человечества и создать ассоциацию со своим брендом – это действительно уникальный и удивительный случай
    </p>
    <h3>И Тут может быть Ваша!!! реклама</h3>
    <div class='featurebox_side'> Tide украл всю рекламу </div>
    <p> В Америке есть день «Супер Боул». Это финал регулярного чемпионата США по американскому футболу. Чтобы вы понимали на сколько это крутой день – в 2018 году финал собрал 165 млн зрителей (половина населения США).
    В такой день все компании норовят попасть на экраны. 30 секунд эфира могут стоить больше 5 млн долларов.
        В этот день Tide выпустил одну из самых гениальных реклам и заодно украл рекламу у всех других компаний. В этой рекламе множество разных роликов. Каждый начинается как типичная реклама какого-нибудь продукта – машины, дезодоранта, геля. Но каждый раз появляется Дэвид Харбор и нежно шепчет: «Это реклама Tide». Смотрите и наслаждайтесь.
    </p>
  </div>