<div id="right_side">
    <h3>Женщины-астронавты NASA потеряли в космосе сумку с инструментами</h3>

    <div class='featurebox_side'> Две женщины-астронавта NASA потеряли сумку с инструментами в
        открытом космосе во время ремонта на Международной космической станции (МКС). </div>
    <h4>NASA.</h4>
    <p>  Как пишут журналисты, 1 ноября астронавты Жасмин Могбели и Лорал О’Хара ремонтировали солнечные батареи МКС,
 когда сумка выскользнула и улетела в открытый космос. Ее заметили на камерах, после чего в NASA просчитали траекторию полета объекта и решили,
 что с МКС сумка не столкнется, а значит, ситуация остается контролируемой.
    </p>
    <h3>Google удалит миллионы аккаунтов в декабре: как этого избежать</h3>
    <div class='featurebox_side'> Ваша почта Gmail и Google-аккаунт могут быть под угрозой.
        Известно, как сохранить свои данные. </div>
    <p> В середине августа компания Google предупредила о масштабной «чистке» — миллионы неактивных аккаунтов будут удалены за ненадобностью. Удаление начнется 1 декабря 2023 года.
        У пользователей еще есть время, чтобы предпринять все меры по спасению личных аккаунтов и своих данных. Напомним, с удалением профиля Gmail будут стерты и файлы на «Google Диске»,
        документы в «Google Документы» и снимки в «Google Фото» </p>
  </div>